@charset "UTF-8";
/* 마이페이지 table(list) 설정 */
.mytable { border-top: 2px solid; text-align: center; }
tr { vertical-align: middle; }

/* 마이페이지 제목 */
.mytitle, .mytitle>a {
	font-size:25px;
	font-weight: bold;
	text-align: center;
	margin-bottom:30px;
	}
	
/* 리스트 펫 프로필 이미지 */
.pet-img { padding-top: 5px; padding-bottom: 5px; }

/* 미니버튼(button) */
.minibtn {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 30px;
  padding: 0;
  margin: 10px 20px 10px 0;
  text-align: center;
  line-height: 30px;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  transition: all 0.2s ;
  background: #ffffff;
  font-family: 'KCC-Hanbit';
  cursor: pointer;
}
.minibtn:hover { background: #03C75A; color:#ffffff; }

/* login, join 빅버튼(button) */
.bigbtn {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 50px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 10px;
  transition: all 0.2s ;
  background: #03C75A;
  box-shadow: 0px 5px 0px 0px #03985A;
  border: 1px;
  font-family: 'KCC-Hanbit';
  cursor: pointer;
}
.bigbtn:hover { box-shadow: 0px 0px 0px 0px #03985A; margin-top: 15px; margin-bottom: 5px;}
.join-bigbtn { background: #FFF; color: #262627; box-shadow: 0px 5px 0px 0px lightgray;} 

/* join table 설정 */
.join-table { margin: 0 auto; }
.join-table tr { text-align: left; height: 60px; }

/* join column 사이즈 조절 */
.columnsize-title { width: 150px; }
.columnsize { width: 400px; }


/* login, join input */
.user-input {
width:300px;
}
.input{
	height: 35px;
font-size: 16px;
border: #ccc 1px solid;
border-width: 0 0 1px;
  font-family: 'KCC-Hanbit';
}
::placeholder {
  color: #d9d9d9;
  font-weight: light;
}
.join-input { width: 420px; }
.join-input-short { width: 260px; }

.center { text-align: center; }

/* login, join content */
.user-content{ text-align: center; }

/*postlist 체크박스*/
.chkbox-style { accent-color: #03C75A; zoom:1.5; vertical-align: middle;}

/*input 커서 여백*/
.cursorpadding { padding-left:15px; }


.radio-hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.label-btnstyle {
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #03C75A;
    color: #03C75A;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* mybeforereserv 검색 옵션 */
.btnsize1 { font-size: 16px; height: 40px;}

/* reservdetail 방문목적 */
.btnstyle2 { height:40px; }

.radio-hidden:checked + .label-btnstyle {
    background-color: #03C75A;
    color: #ffffff;
    border-color: #03C75A;
}

.label-btnstyle:hover {
    background-color: #03C75A;
    color: #ffffff;
    border-color: #03C75A;
    cursor: pointer;
}

.optionBtn{ width:300; height:30;}

.mybox {padding: 20px 20px 20px 20px;}
.reserv_table tr { height: 50px;}
.box-title { font-size: 20px; font-weight:bold; margin-left:5px;}
.firstcloumn { width: 200px;}
.radio-align { justify-content: space-between; }
.btn-box { text-align:center;}
.pet_name { padding-bottom:10px;}
.pet_img-small { width:50px; height:50px; border-radius: 50%; overflow: hidden; object-fit: cover; }
.pet_img-big { width:70px; height:70px; border-radius: 70%; overflow: hidden; object-fit: cover; }
.pet_profile-td1 { width:100px;}
.pet_profile-td2 { width:270px;}
.pet_profile-td3 { width:90px;}


.applytable-td1 { width:150px; white-space:no wrap; overflow: ellipsis; text-align: center;}
.applytable-td2 { width:350px; white-space:no wrap; overflow: ellipsis; text-align: center;}
.applytable-td3 { width:130px; white-space:no wrap; overflow: ellipsis; text-align: center;}

/* .align-items_center {align-items: center; justify-content: center; text-align: center;} */
.align-items_center {padding-left:20px;}